.icon {
  height: 70px;
  padding-right: 10px;
}

body {
  display: flex;
  justify-content: center;
}

.link {
  border: 3px rgb(0, 0, 0) solid;
  border-radius: 7px;
  background-color: rgb(78, 78, 78);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.text {
  font-style: italic;
  font-size: x-large;
}
