.card {
  display: flex;
  border: 3px rgb(60, 151, 68) solid;
  border-radius: 7px;
  background-color: rgb(84, 84, 87);
  padding-right: 50px;
}

.image {
  height: 300px;
}

.info {
  padding-left: 25px;
}

body {
  display: flex;
  justify-content: center;
}
