.product {
  border: 3px rgb(52, 150, 255) solid;
  border-radius: 7px;
  background-color: rgb(117, 207, 255);
  padding-right: 50px;
}

.image {
  height: 30px;
}

.info {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  display: flex;
  justify-content: center;
}

.link {
  border: 3px rgb(0, 122, 41) solid;
  border-radius: 7px;
  background-color: rgb(117, 255, 154);
  padding-right: 50px;
}

.text {
  font-style: italic;
  font-size: larger;
  padding-left: 80px;
  padding-right: 40px;
}
