.comen {
  flex-direction: column;
  justify-content: center;
  background-color: rgb(197, 197, 197);
  border: 1px black solid;
  border-radius: 5px;
  font-size: 20px;
  margin: 10px 0px;
  .info {
    background-color: rgb(151, 151, 151);
    border: 1px black solid;
  }
  .autor {
    font-size: 30px;
  }
}

#inputComment {
  height: 250px;
  width: 99%;
  margin-left: 10px;
}
