.product {
  border: 3px rgb(52, 150, 255) solid;
  border-radius: 7px;
  background-color: rgb(117, 207, 255);
  padding-right: 50px;
}

.info {
  padding-left: 20px;
  padding-right: 20px;
}

body {
  display: flex;
  justify-content: center;
}
